{% load humanize %}


<aside id="info-pane" class="p-2">
    <div class="container py-1">
        <div class="fs-3 fw-bolder py-2">
            <i class="fa-regular fa-user-circle"></i> 
            &nbsp; {{ profile.name }} 
        </div>

        <div class="fs-4 pb-3">
            <span class="text-muted">XP</span> 
            <span class="fw-bold">{{ profile.xp|intcomma }}</span>
        </div>

        <div class="py-3">
            <label for="prog-bar" class="text-muted small">Course progress</label>
            <div class="progress border w-100" id="prog-bar">
                <div class="progress-bar progress-bar-striped bg-success fw-bold"
                    role="progressbar" style="width: {{ progress }}%;"
                    aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
                    {{ progress }}%</div>
            </div>
        </div>
    </div>
</aside>