{% load humanize %}


<main class="main container">
    <div class="d-flex flex-column gap-4">

        <div class="bg-light p-4 rounded-3 fs-3 border">
            <h3 class="text-secondary fs-4">
                <i class="fa-regular fa-comment"></i> &nbsp; Translate
                <span class="badge bg-secondary">
                    {% if phrase.language == "French" %}
                        French to English
                    {% else %}
                        English to French
                    {% endif %}
                </span>
            </h3>
        </div>

        <div class="bg-light p-4 rounded-3 border">
            {% if message %}
                <p class="text-danger fs-5"><strong>{{ message }}<strong></p>
            {% endif %}

            {% if not phrase %}
                <p class="fs-3 py-5">Learn phrases before doing practice</p>
            {% else %}
                <h1 class="fs-2 py-5 ms-3 text-center">{{ phrase }}</h1>
            {% endif %}
        </div>

        <div class="bg-light p-4 rounded-3 m-1 border">
            <small class="text-muted small">Your answer</small>   
            {% load crispy_forms_tags %}
            <form action="" method="post" enctype="multipart/form-data" class="">
                {% if form.errors %}
                    <p>There was an error. Please try again.</p>
                {% endif %}
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        </div>

    </div>
</main>