{% extends "base_menu.html" %}
{% load humanize %}


{% block header %}
<header class="container header">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-5 p-3">
            {% if strength_data.learned > 0 %}
                <p>You learned {{ strength_data.learned }} out of total
                    {{ phrase_data|length }} phrases in course.<br>
                    Overall score: {{ strength_data.average }}%. </p>
            {% else %}
                <p>No results yet. Start learning.</p>
            {% endif %}
            <p>Browse phrases. Review performance on learned phrases in Strength.</p>
            <p>Click on links to modules for unlearned phrases.</p>
        </div>
        <div class="col-1"></div>

        {% if profile %}
            <div class="col">
                {% include 'info_pane.html' %}
            </div>
        {% endif %}
    </div>
</header>
{% endblock header %}


{% block content %}
<section class="container-fluid d-flex justify-content-between">
    <form action="" muted="get" class="m-4 input-group">
        <input type="text" placeholder="Search phrases and translations" name="search"
        class="form-control"
        {% if search %} value="{{ search }}" {% endif %}>
        <button type="submit" class="btn btn-outline-dark">
            <i class="fa fa-search"></i></button>
        <a href="{% url 'frendj:glossary' %}" class="btn btn-outline-dark">
            <i class="fa fa-undo pt-1"></i></a>
    </form>
</section>

<main class="container-fluid p-2">
    <div class="container">
        <div class="row pb-2">
            <div class="col-4 text-end fw-bold">Phrase</div>
            <div class="col-5 text-start fw-bold">Translation</div>
            <div class="col-3 text-end fw-bold">Strength</div>
        </div>
    </div>
    
    <div class="container card" id="container-card">
        {% if not phrase_data and search %}
        <div class="row justify-content-center p-5 fs-5">
            Your search found no phrases for "{{ search }}"
        </div>
        {% else %}
        
        {% if phrase_data %}{% for phrase in phrase_data %}{% if phrase.language == "French" %}
        <div class="row pb-3">
            <div class="col-4 text-end">{{ phrase.phrase }} </div>
            <div class="col-5 text-start">
                {% for translation in phrase.translations %}
                    &raquo; {{ translation }} <br>
                {% endfor %}
            </div>
            <div class="col-3 text-end">
                {% if phrase.learned %}
                    {% if phrase.strength > 90 %}Excellent
                    {% elif phrase.strength > 80 %}Amazing
                    {% elif phrase.strength > 60 %}Great
                    {% elif phrase.strength > 40 %}Good
                    {% else %}Keep at it {% endif %}
                {% else %}
                    <a href="{% url 'frendj:learn' phrase.module_id %}"
                        class="text-decoration-none link-style">Learn in Module: {{ phrase.module }}</a>
                {% endif %}
            </div>
        </div>
        {% endif %}{% endfor %}{% endif %}   
    </div>
</main>
    {% endif %}
{% endblock content %}
