{% extends "base_menu.html" %}
{% load humanize %}


{% block title %} - French / English Learning App{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <main class="main card bg-light p-0">

                {% if user.is_authenticated and not profile %}
                    <div class="card-header">
                        <h1 class="card-title">Welcome, {{ user.username }}.</h1>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            Click the button to complete your profile.
                            <a href="{% url 'frendj:create_profile' %}"
                                class="link-style m-3 p-3">
                                Complete profile &raquo;
                            </a>
                        </div>
                    </div>

                {% else %}
                <div class="card-header">
                    <h1 class="fs-3 card-title pt-1">Activities</h1>
                </div>

                <div class="card-body">
                    <div class="card-text">
                    {% if unlearned_phrase_count > 0 %}
                        <div class="py-2 ms-3" title="Learn new expressions">
                            <a href="{% url 'frendj:modules' %}" alt="Learn new expressions" 
                                class="link-style">
                                <span class="fs-5"><i class="fa fa-book-open"></i>&nbsp; Learn</span>
                                &nbsp; &raquo; &nbsp; discover new words and phrases
                            </a>
                        </div>
                    {% endif %}
                    {% if learned_phrase_count > 0 %}
                        <div class="py-2 ms-3" title="Strengthen weakest words and phrases">
                            <a href="{% url 'frendj:practice' %}" alt="Strengthen weakest phrases"
                                class="link-style">
                                <span class="fs-5"><i class="fa fa-dumbbell"></i>&nbsp; Practice</span>
                                &nbsp; &raquo; &nbsp; strengthen skills and memory
                            </a>
                        </div>
                        <div class="py-2 ms-3" title="Review what you've learned">
                            <a href="{% url 'frendj:review' %}" alt="Review what you've learned"
                                class="link-style py-3">
                                <span class="fs-5"><i class="fa fa-school"></i>&nbsp; Review</span>
                                &nbsp; &raquo; &nbsp; refresh your memory
                            </a>
                        </div>
                        <div class="py-2 ms-3" title="Use correct French accents ">
                            <a href="{% url 'frendj:accent' %}"  alt="Use correct French accents"
                                class="link-style py-3">
                                <span class="fs-5"><i class="fa fa-graduation-cap"></i>&nbsp; Exam</span>
                                &nbsp; &raquo; &nbsp; ultimate challenge
                        </a>
                    </div>
                    {% endif %}
                        <div class="py-2 ms-3" title="Glossary of phrases and translations">
                            <a href="{% url 'frendj:glossary' %}" alt="Browse phrases and translations"
                                class="link-style py-3">
                                <span class="fs-5"><i class="fa fa-map"></i>&nbsp; Study</span>
                                &nbsp; &raquo; &nbsp; research content and track progress
                            </a>
                        </div>
                    {% endif %}
                    </div>
                </div>
                
            </main>
        </div>

        {% if profile %}
            <div class="col">

                {% include 'info_pane.html' %}

            </div>
        {% endif %}
        
    </div>
</div>

{% if quiz_complete_msg %}
<div class="modal fade" id="quiz-complete-modal" tabindex="-1" 
    aria-labelledby="quiz-complete-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-4 m-4">
                <div class="modal-section mb-4 p-4 rounded-3 row">
                    <h1 class="modal-title" id="quiz-complete-label">Quiz Complete</h1>
                    <p class="pt-4">{{ quiz_complete_msg|safe }}</p>  
                </div>  
            </div>

            <div class="modal-footer border-0 p-3">
                <button type="button" class="btn btn-outline-dark modal-btn"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $modal = $('#quiz-complete-modal');

    $(document).ready(function() {
        $modal.modal('show');
    });

    $(document).keydown(function(e) {
        if(e.keyCode==13){
            $modal.modal('hide');
        }
    });
</script>
{% endif %}

{% endblock content %}