{% extends "base_menu.html" %}
{% load humanize %}


{% block title %} - Modules{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <main class="main card bg-light p-0">


                <div class="card-header bg-light">
                    <h1 class="fs-3 card-title pt-1">
                        Learning modules
                    </h1>
                </div>


                <div id="module-list" class="card-body bg-white">
                    <div class="card-text">
                        <ul class="list-group-flush">
                        
                        {% for module in modules %}

                        {% for open_module in open_modules %}{% if open_module == module %}
                            <a href="{% url 'frendj:learn' module.id %}" 
                                class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="fs-5">{{ module.name }}</h5>
                                    <small>### questions</small>
                                </div>
                                <small class="secondary">
                                    &nbsp; &raquo; &nbsp; TODO - add module description
                                </small>
                            </a>
                        {% endif %}{% endfor %}

                        {% for closed_module in closed_modules %}{% if closed_module == module %}
                            <li class="list-group-item disabled" aria-disabled="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="fs-5">{{ module.name }}</h5>
                                    <small>### questions</small>
                                </div>
                                <small>
                                    &nbsp; &raquo; &nbsp; TODO - add description and complete message
                                </small>
                            </li>
                        {% endif %}{% endfor %}
                            
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                
            </main>
        </div>

        {% if profile %}
            <div class="col-4">

                {% include 'info_pane.html' %}
                
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}