{% extends "base_menu.html" %}
{% load humanize %}


{% block title %} - Modules{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <main class="main card bg-light p-0">


                <div class="card-header bg-light">
                    <h1 class="fs-3 card-title pt-1">
                        Learning modules
                    </h1>
                </div>


                <div id="module-list" class="card-body bg-white">
                    <div class="card-text">

                    {% for module in modules %}

                        {% for open_module in open_modules %}{% if open_module == module %}
                            <a href="{% url 'frendj:learn' module.id %}" 
                                class="btn btn-outline-dark m-2">
                                {{ module.name|title }} &nbsp;
                                <small class="badge rounded-pill bg-primary">
                                    {{ module.phrases_in_module.count }}
                                </small>
                            </a>
                        {% endif %}{% endfor %}

                        {% for closed_module in closed_modules %}{% if closed_module == module %}
                            <button class="btn btn-light m-2 disabled" aria-disabled="true">
                                {{ module.name|title }} &nbsp;
                                <small class="badge rounded-pill bg-secondary">
                                    {{ module.phrases_in_module.count }}
                                </small>
                            </button>
                        {% endif %}{% endfor %}
                            
                    {% endfor %}
                    </div>
                </div>

            </main>
        </div>

        {% if profile %}
            <div class="col-4">

                {% include 'info_pane.html' %}
                
            </div>
        {% endif %}
    </div>
</div>

{% if module_complete_msg %}
<div class="modal fade" id="module-complete-modal" tabindex="-1" 
    aria-labelledby="module-complete-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-4 m-4">
                <div class="modal-section mb-4 p-4 rounded-3 row">
                    <h1 class="modal-title" id="module-complete-label">Module Complete</h1>
                    <p class="pt-5">{{ module_complete_msg }}</p>    
            </div>

            <div class="modal-footer border-0 p-3">
                <button type="button" class="btn btn-outline-dark modal-btn"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $modal = $('#module-complete-modal');

    $(document).ready(function() {
        $modal.modal('show');
    });

    $(document).keydown(function(e) {
        if(e.keyCode==13){
            $modal.modal('hide');
        }
    });
</script>
{% endif %}

{% endblock content %}