{% extends "base_bootstrap.html" %}


{% block content %}
    <form id="resetForm" method="post" action="{% url 'frendj:reset' %}">
        {% csrf_token %}
        <input type="hidden" name="reset" value="reset">
    </form>
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('#resetForm').submit();
        })
        {% comment %} document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('resetForm').submit();
        }) {% endcomment %}
    </script>
{% endblock script %}