:root {
    --body_bg:hsl(229, 33%, 94%);
    --link-color: #126;
    --link-hover: lightskyblue;
    --bootstrap5-light: #f8f9fa;
}

body {
    background-color: var(--body_bg) !important;
    user-select: none
}
/* TODO - is the nonav class still needed - delete */
.nonav {
    background-color: var(--body_bg) !important;
    position: fixed;
    margin: 2rem;
}

#gravatar {
    width: 39px;
}

.drop {
    background-color: var(--body_bg) !important;
}

#prog-bar {
    height: 1.5rem;
}

#modules-prog-bar {
    width: 100%;
    height: 1.5rem;
}

#glossary-container {
    background-color: var(--body_bg) !important;
    border: none;
    max-height: 86vh;
    overflow-y: auto;
}

#narrow-staff-form {
    max-width: 50rem;
}

.footer {
    background-color: var(--body_bg) !important;
}

.link-style {
    color: var(--link-color) !important;
    text-decoration: none !important;
}

.link-style:hover, .muted-link-style:hover {
    color: var(--link-hover) !important;
}

#drop-btn:hover {
    background-color: var(--body_bg) !important;
}

#feedback-button {
    background-color: var(--bootstrap5-light) !important;
}

#login, #register {
    max-width: 39rem;
    width: 100%;
    margin: 0 auto;
}

#module-search {
    max-width: 18rem;
}

#module-complete-modal, #quiz-complete-modal {
    background-color: rgba(124, 117, 150, 0.5);
}

.modal-header, .modal-content, .modal-footer {
    background-color: rgb(255, 215, 0);
}

.modal-section, .modal-btn {
    background-color: rgba(124, 117, 150, 0.05);
    border-color: rgba(124, 117, 150, 0.05);
}